<head>
<title>Sensa Risvolti Bot :: <%= title %></title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/main.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <script> 
  $(document).ready(function(){
    var pages = ["<%- pages.join("\",\""); %>"];
    pages.forEach(function (elm) {
      var dataurl = elm;
      var href = elm;
      var name = elm.charAt(0).toUpperCase() + elm.slice(1);
      var html = "<li data-url=\"" + dataurl + "\" class=\"nav-link\"><a href=\"" + href + "\"><span class=\"glyphicon glyphicon-thumbs-up\"></span>" + name + "</a></li>";
      $("#nav-bar-menu").append(html);
    });
  });
  </script>
</head>
