<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
      <ul id="nav-bar-menu" class="nav navbar-nav">
      </ul>
  </div>
</nav>
<script>
    $(document).ready(function(){
        var url = location.href;
        url = url.substring(url.lastIndexOf("/")+1);
        if(url.lastIndexOf("?") > 0)
            url = url.substring(0,url.lastIndexOf("?"));
        if(url.lastIndexOf("#") > 0)
            url = url.substring(0,url.lastIndexOf("#"));
        //console.log(url);
        $("li.nav-link").each(function(){
            var _id = $(this).attr('data-url');
            if(_id == url) {
                $(this).addClass('active');
            } else {
                $(this).removeClass('active');
            }
            //console.log(url , _id);
        });

        var table = $("#result > tbody");
        table.find("tr").each(function(){ $(this).remove() });
    });
</script>